<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Change Credentials</mat-card-title>
    </mat-card-header>

    <form [formGroup]="changeForm" class="example-form">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input
            formControlName="new_username"
            matInput
            placeholder=" New Username"
          />
        </mat-form-field>
        <div
          *ngIf="
            new_username?.invalid &&
            (new_username?.dirty || new_username?.touched)
          "
        >
          <div *ngIf="new_username?.errors?.['required']">
            New Username is required
          </div>
        </div>
        <mat-form-field class="example-full-width">
          <input
            formControlName="old_username"
            matInput
            placeholder=" Old Username"
          />
        </mat-form-field>
        <div
          *ngIf="
            old_username?.invalid &&
            (old_username?.dirty || old_username?.touched)
          "
        >
          <div *ngIf="old_username?.errors?.['required']">
            Old Username is required
          </div>
        </div>

        <mat-form-field class="example-full-width">
          <input
            type="password"
            formControlName="old_password"
            matInput
            placeholder="Old Password"
          />
        </mat-form-field>
        <div
          *ngIf="
            old_password?.invalid &&
            (old_password?.dirty || old_password?.touched)
          "
        >
          <div *ngIf="old_password?.errors?.['required']">
            Old password is required
          </div>
        </div>

        <mat-form-field class="example-full-width">
          <input
            type="password"
            formControlName="new_password"
            matInput
            placeholder="New Password"
          />
        </mat-form-field>
        <div
          *ngIf="
            new_password?.invalid &&
            (new_password?.dirty || new_password?.touched)
          "
        >
          <div *ngIf="new_password?.errors?.['required']">
            New password is required
          </div>
        </div>
      </mat-card-content>
      <button
        [disabled]="changeForm.invalid"
        mat-stroked-button
        color="accent"
        class="btn-block"
      >
        Submit
      </button>
    </form>
  </mat-card>
</div>
